.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.todo-box {
  width: 450px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.input-section {
  display: flex;
  gap: 10px;
}

.input-section input {
  flex: 1;
  padding: 10px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  cursor: pointer;
}
